// Define variables for your color scheme

// For example:
$red: #d23333;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #9a9a9afb;
$medium-gray: #cdcdcd;
$light-gray: #f4f4f4;

$primary00: #6c7ceb;
$primary20: #5663bc;
$primary60: #2b325e;
$secondary00: #db52f4;
$gradient-dark: linear-gradient(180deg, #db52f4 0%, #6c7ceb 100%);
$gradient-light: linear-gradient(180deg, rgba(219, 82, 244, 0.3) 0%, rgba(108, 124, 235, 0.3) 100%);
$light-blue: #e5eafa;
