// Define variables for your color scheme

// For example:
$red: #D23333;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary00: #6C7CEB;
$primary20: #5663BC;
$secondary00: #DB52F4;
$gradient-dark: linear-gradient(180deg, #DB52F4 0%, #6C7CEB 100%);
$gradient-light: linear-gradient(180deg, rgba(219, 82, 244, 0.3) 0%, rgba(108, 124, 235, 0.3) 100%);
$light-blue: #E5EAFA;
