<%= simple_form_for artist do |f| %>
  <%= render "artists/form_fields", f: f %>
  <div class="container text-center">
    <%= f.submit "Next: Connections", class: 'btb btn-gradient py-2' %>
  </div>
<% end %>
