<div class="main d-flex">
  <div class="d-block full-width">
    <%= render "shared/simpletop" %>
  </div>
  <div class="container col-6 col-lg-4 my-5">
    <h1 class='text-center' data-spotify-target="title">Create your profile</h1>
    <%= render "artists/form", artist: @artist %>
  </div>
  <div class="d-block full-width">
    <%= render "shared/footer" %>
  </div>
</div>

      <%#= f.input :influences, collection: Artist::INFLUENCES.map {|influence| influence[:name]}, include_hidden: false, input_html: { multiple: true, max: 4 } %>
