.full-width {
  width: 100%;
}

// Specific CSS for your home-page
.colored-landing {
  background: $gradient-light;
  color: white;
  padding-bottom: 72px;
  border-radius: 0px 0px 0px 299px;
  width: 100%;
}

.small-heading {
  font-size: 48px;
  padding-bottom: 5%;
  h2 {
    margin-left: 100px;
    font-weight: lighter;
  }
  .special-heading {
    margin-left: 180px;
  }
}

.big-heading {
  text-align: center;
  color: #ffffff;
  font-size: 64px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  h1 {
    font-size: 64px;
    font-weight: 700;
  }
}

// About us

.about-container {
  margin-top: 100px;
  width: 100%;
}

.about-title {
  color: #2b325e;
  margin-top: 32px;
  margin-left: 80px;
}

.about-us {
  background: $gradient-light;
  position: relative;
  float: right;
  width: 1250px;
  height: 569px;
  border-radius: 0 0 0 30px;
  top: 76px;
}

.panel {
  position: absolute;
  width: 600px;
  height: 580px;
  background: white;
  top: -64px;
  left: -46px;
  border-radius: 10px;
  p {
    padding: 0;
  }
}

.panel-text {
  text-align: justify;
  padding: 20px;
  h4 {
    color: #6170d4;
  }
  h1 {
    font-weight: 700;
    color: #2b325e;
  }
}

.button-panel {
  padding: 20px;
}
.feature-title {
  color: #6170d4;
  font-family: "Fira Sans";
  text-align: center;
  font-size: 1.2rem;
}

.feature-box {
  p {
    font-family: "Fira Sans";
    color: #2b325e;
    font-size: 14px;
    text-align: center;
  }
}

.card-about {
  width: 25%;
  height: 30%;
  margin-left: 100px;
  margin-bottom: 16px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
}

// Footer

.footer {
  background: linear-gradient(180deg, rgba(219, 82, 244, 0.6) 0%, rgba(108, 124, 235, 0.3) 100%);
  height: 270px;
  color: white;
  position: absolute;
  top: 1700px;
  bottom: -1080px;
  width: 100%;
  h4 {
    color: #6170d4;
    font-weight: 500;
  }
  p {
    padding: 0px;
  }
}

.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #d23333;
}

.footer-nav {
  border-right: 3px solid white;
}
