.full-width {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

// Specific CSS for your home-page
.colored-landing {
  background: $gradient-light;
  color: white;
  padding-bottom: 5vw;
  border-radius: 0 0 0 20vw;
  width: 100%;
}

.big-heading {
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 5vw;
  h1 {
    font-size: 4.5vw;
    font-weight: 400;
  }
  span {
    font-weight: 700;
  }
  .get-started {
    font-size: 1.5vw;
  }
}

.small-heading {
  position: relative;
  .small-heading-text {
    position: absolute;
    bottom: -9%;
    right: -25%;
    h2 {
      text-align: right;
      font-size: 3vw;
      margin-left: 8vw;
      font-weight: lighter;
    }
    span {
      font-weight: 700;
    }
  }
}

.img-fluid.big-logo {
  position: relative;
  left: 5vw;
  animation: dance 4s linear infinite;
  height: 40vw;
  width: auto;
}

@keyframes dance {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
}


// About us

.about-container {
  margin-top: 5vw;
  width: 100%;
}

.about-title {
  color: #2b325e;
  margin-top: 3vw;
  margin-left: 5vw;
}

.about-us {
  background: $gradient-light;
  position: relative;
  float: right;
  width: 85vw;
  height: 40vw;
  border-radius: 0 0 0 30px;
}

.panel {
  position: absolute;
  width: 40vw;
  height: 40vw;
  background: white;
  top: -10%;
  left: -5%;
  border-radius: 10px;
  p {
    font-size: 1vw;
    padding: 0;
  }
}

.panel-text {
  text-align: justify;
  h4 {
    color: #6170d4;
    font-size: 2vw;
  }
  h1 {
    font-weight: 700;
    color: #2b325e;
    font-size: 3vw;
  }
}

.button-panel {
  padding: 20px;
}

.feature-box {
  position: relative;
  margin-top: 3%;
  p {
    font-family: "Fira Sans";
    color: #2b325e;
    font-size: 1vw;
    text-align: center;
    margin: 0 10%;
  }
  .feature-title {
    color: #6170d4;
    font-family: "Fira Sans";
    text-align: center;
    font-size: 1.5vw;
  }
  .card-about {
    position: relative;
    width: 4vw;
    height: 4vw;
    left: 38%;
    margin-bottom: 0.5vw;
    object-fit: contain;
  }
}


// Footer

.footer {
  background: linear-gradient(180deg, rgba(219, 82, 244, 0.6) 0%, rgba(108, 124, 235, 0.3) 100%);
  // height: 23vw;
  color: white;
  width: 100%;
  h4 {
    color: #6170d4;
    font-weight: 500;
  }
  p {
    padding: 0px;
  }
}

.footer-links a {
  color: $primary00;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: white;
}
.footer .fa-heart {
  color: #d23333;
}

.footer-nav {
  border-right: 3px solid white;
}


.btn-gradient {
  background: linear-gradient(253.58deg, #db52f4 1.55%, #6c7ceb 66.84%);
  position: relative;
  padding: 13px 17px;
  font-weight: 600;
  z-index: 10;
  color: white;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.3s ease;
  border: none;
}

  .btn-gradient:after {
    background: linear-gradient(253.58deg, #db52f4 1.55%, #6c7ceb 66.84%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -10;
    transition: opacity 0.5s;
    border-radius: 4px;
    color: white;
  }

.btn-gradient:hover:after {
  opacity: 1;
  color: white;
}

