<div class="container">
  <h2>
    <strong><%= @label.name %><strong>
      </h2>
      <h5><%= @label.location %></h5>
      <p><%= @label.website_url %></p>
      <br>
      <div class="container">
        <h3>About us</h3>
        <p><%= @label.bio %></p>
      </div>
    </div>
