<div data-controller="calendar" class="d-flex flex-column">
  <div data-calendar-target="calendar" class="d-flex justify-content-center">
    <%# data-events="" %>
  </div>
  <div data-calendar-target="output" class="mt-4">
    <%# data-events="" %>
  </div>
</div>
