<div class="simpletop py-4 px-5">
  <div class="d-flex align-items-center">
    <a class="navbar-brand " href="#">
      <%= image_tag "logo.png", class:"rounded-circle", style: 'height:50px;width:auto;'%>
    </a>
    <h1 class="align-self-center pt-2">SpotLight</h1>
    </div>
  </div>
</div>
