<div class="simpletop py-4 px-5">
  <div class="d-flex align-items-center">
    <%= link_to root_path, class: "navbar-brand ml-2" do %>
      <%= image_tag "logo.png", class:"rounded-circle", style: 'height:50px;width:auto;'%>
    <% end %>
    <h1 class="align-self-center pt-2">SpotLight</h1>
  </div>
</div>
