<div class="d-block flex-column">
  <div class="card-events mt-2">
    <div class="event-card-items">
      <h5 class="event-h"> <%= event.name %> </h5>
      <p class="event-p"><%= event.location %> </p>
      <small><%= event.event_url %> </small>
    </div>
  </div>
</div>
