<div class="main">
  <div class="d-block full-width">
    <%= render "shared/simpletop" %>
  </div>
  <div class="container col-lg-6 my-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="mb-4">Are you an artist?</h2>
          <%= link_to image_tag("artist.jpg"), new_artist_path, class: "singer-redirect"%>
        </div>
        <div class="col">
          <h2 class="mb-4">Are you a label?</h2>
          <%= link_to image_tag("re-label.jpg"), new_label_path, class: "singer-redirect"%>
        </div>
      </div>
    </div>
  </div>
  <div class="d-block full-width">
    <div class="footer-small ">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This footer is made with <i class="fas fa-heart"></i> by SpotLight
      </div>
    </div>
  </div>
</div>
