<div class="container">
  <div class="row">
    <div class="col">
      <h2>Are you an artist?</h2>
      <%= link_to "Sign up here", new_artist_path, class: "btn btn-gradient" %>
    </div>
    <div class="col">
      <h2>Are you a label?</h2>
      <%= link_to "Sign up here", new_label_path, class: "btn btn-gradient" %>
    </div>
  </div>
</div>
