<div class="main">
  <div class="d-block full-width">
    <%= render "shared/simpletop" %>
  </div>
  <div class="container col-lg-6 my-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Are you an artist?</h2>
          <%= link_to image_tag("artist.jpeg"), new_artist_path, class: "singer-redirect"%>
        </div>
        <div class="col">
          <h2>Are you a label?</h2>
          <%= link_to image_tag("re-label.jpeg"), new_label_path, class: "singer-redirect"%>
        </div>
      </div>
    </div>
  </div>
  <div class="d-block full-width">
    <%= render "shared/footer" %>
  </div>
</div>
