.avatar {
  width: 40px;
  object-fit: cover;
}
.avatar-large {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

// influence avatar

.influences-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

//redirect avatar

.singer-redirect {
  img {
    width: 56%;
    border-radius: 16px;
    object-fit: cover;
    filter: grayscale(100%);
    position: relative;
    left: 40px;
  }
}

.singer-redirect:hover {
  img {
    filter: none;
  }
}

