.filter-search {
  position: absolute;
  top: 30px;
  left: 0px;
  background-color: white;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

