.footer-small {
  background: $gradient-light;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(255, 255, 255, 0.986);
  position: absolute;
  // position: fixed;
  // bottom: 0;
  width: 100%;
}

.footer-small .fa-heart {
  color: #d23333fb;
}

.footer-small-links a {
  color: $primary00;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  i {
    color: $primary00;
  }
}
.footer-small-links i:hover {
  color: white;
}
