.navbar {
  justify-content: space-between;
  background: white;
  h1 {
    color: white;
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


// landing page

.navbar-landing {
  justify-content: space-between;
  background: transparent;
}

.navbar-landing .navbar-collapse {
  flex-grow: 0;
}

.navbar-landing .navbar-brand img {
  width: 56px;
}
